 <h1>
  Actor <%= @actor_id.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_actor/504" class="btn btn-block btn-outline-secondary">
  Delete actor
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @actor_id.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
     <%= @actor_id.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor_id.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="http://robohash.org/<%= @actor_id.name %>?set=set10">
  </dd>

  <dt>
    created at
  </dt>
  <dd>
  <%= time_ago_in_words(@actor_id.created_at) %> ago
  <dd>
  <dt>
    updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@actor_id.updated_at) %> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>

  <th>
  Title
  </th>
  <th>
  year
  </th>
  <th>
  Director
  </th>
  <th>
  Character Name
  </th>
   <th>
   </th>
   </tr>
   <% @list_of_character.all.each do |char| %>
   <% movie = Movie.where(:id=> char.movie_id).first %>
               
    <% if char.actor_id == @actor_id.id %>
   <tr>
   <td>
   <%= movie.title %>
   </td>
   <td>
   <%= movie.year%>
   </td>
   <td>

   <% dir=Director.where(:id=>movie.director_id).first %>
   <%= dir.name%>
   </td>
   <td>
   <%= char.name %>
   </td>
   <td>
    <a href="/movies/<%= char.movie_id %>">
        show details
     </a>
     </td>
     </tr>
     <% end %>
     <% end %>
     </table>

  
  
